name: Sync Fork

on:
  schedule:
    - cron: '5 7 * * 1' # every monday morning
  workflow_dispatch: # on button click

jobs:
  sync:

    runs-on: ubuntu-latest

    steps:
      - uses: tgymnich/fork-sync@v1.8
        with:
          base: master
          head: master
